name="default"

prepare_build()
{
    echo "Loading required modules for $name"
}

configure_build()
{
    echo "Configuring $name"
}

make_build()
{
    echo "Building $name"
}

install_build()
{
    echo "Installing $name"
}
